@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap');

html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

p,
label {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}

.container {
    width: 500px;
    border: 3px solid blue;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.btn {
    text-align: center;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

img {
    max-width: 200px;
    max-height: 200px;
    object-fit: fill;
}

.left-image,
.right-image {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.form-select {
    display: inline;
}